extends layout

block head_content
    title Rummy Rule
block content
    include navbar.pug
    div.background-green
      #rule.container
          h1#rummy_rule Rummy Rules
          p#rule_texts
              | Rummy is a card game similar to Mahjong where the objective is to be the first player to discard your entire hand.
              | Discarding your cards is possible by creating combinations or sets of three or four cards of either the same rank (ie. Jack of hearts, Jack of Spades, Jack of Clubs) or of the same suit in a sequence (ie. Jack of Hearts, Queen of Hearts, King of Hearts).
          h1#rummy_rule Gameplay
          p#rule_texts
              | This version of Rummy is a two player game. Each player receives 10 cards upon the game starting.
              | The current turn's player will draw a card either from the discard pile or the deck pile. Afterwards, the player can either beging melding their cards or signal the end of their turn by discarding one card.
              | The next player will follow suit until one player discards their final card or creates a meld to rid their entire hand and win the game.
          h1#rummy_rule Scoring
          p#rule_texts If a player wins a game, one credit will be added to the player's record. With enough wins, they will appear on the front page leaderboard.


